---
layout: default
title: WANGYAOJIA Blog
---

<div id="Home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

  {% if paginator.previous_page %}
  	{% if paginator.page == 2 %}
  		<a href="/" rel="bookmark"> << Previous Page</a>
  	{% else %}
  		<a href="/page{{ paginator.previous_page }}" rel="bookmark"> << Previous Page</a>
  	{% endif %}
  {% endif %}
  {% if paginator.next_page %}
  	<a href="/page{{ paginator.next_page }}" rel="bookmark" style="float:right">Next Page >></a>
  {% endif %}
