<table>
	<tr>
		<td><a href="http://weibo.com/wangyzyoga" id="weibo" style="display:none" target="_blank" title="weibo" rel="nofollow"><img src="/images/sina.png" /></a></td>
		<td><a href="https://github.com/wangyzyoga" id="github" style="display:none" target="_blank" title="github" rel="nofollow"><img src="/images/github.png" /></a></td>
		<td><a href="http://www.facebook.com/wangyzyoga" id="facebook" style="display:none" target="_blank" title="facebook" rel="nofollow"><img src="/images/facebook.png" /></a></td>
		<td><a href="https://twitter.com/#!/wangyzyoga" id="twitter" style="display:none" target="_blank" title="twitter" rel="nofollow"><img src="/images/twitter.png" /></a></td>
		<td><a href="https://wangyzyoga@gmail.com" id="gmail" style="display:none" target="_blank" title="gmail" rel="nofollow"><img src="/images/gmail.png" /></a></td>
	</tr>
</table>